.container{
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
}
.title{
    color: red;
}

.productlistcont{
    margin-top: 50px;
    background-color: aliceblue;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}