.productItemContainer{
    padding: 10px;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px lightgray;
}
.productItemContainer h3{
font-size: medium;
}
.productItemContainer button {
    padding: 5px 10px;
    background-color: red;
    outline: none;
    color: white;
    font-weight: bold;
}